* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 117px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 55;
  background-color: #fff;
}

header nav {
  margin-top: 18px;
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
}

.leftNav {
  display: flex;
  align-items: center;
}

.leftNav>a {
  display: flex;

}

.leftContent {
  display: inline-block;
  margin-left: 73px;
}

.leftContent a:first-child {
  color: #5E81FE;
}

.leftContent a {
  text-decoration: none;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #697CA6;
  text-shadow: 0px 0px 5px #E6E6E6;
  margin-right: 32px;
}

.rightNav {
  display: flex;
  align-items: center;
}

.rightNav a {
  margin-right: 34px;
}

nav button {
  background-color: #D2E1FF;
  color: #3A79FF;
  border: #D2E1FF solid 2px;
  border-radius: 2px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  padding: 13px 16px;
}

main {
  padding-top: 83px;
  height: 100vh;
}

#main {

  height: 100vh;
  background-image: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.chartBg {
  background-image: url(./images/id_main/chartBg.svg);

  height: 100vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.clouds {
  background-image: url(./images/id_main/clouds.svg);
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;
}

.clouds article {
  width: 581px;
  margin-top: 92px;
  text-align: center;
}

.clouds article p:first-child {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.clouds article p:nth-child(2) {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #3D4F9F;
  padding-top: 16px;
  padding-bottom: 28px;
}

.clouds article b {
  font-weight: bold;
}

.clouds article p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding-bottom: 20px;
}

#play {
  padding: 25px;
  border: none;
  background-color: #fff;
  border-radius: 50px;
  background-image: url(./images/id_main/playButton.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.clouds img {
  position: absolute;
  top: 74.6%;
  right: 67.7%;
}

.buttonBot {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translate(-50%, 0);
}

.buttonBot button:first-child {
  background-color: #5283FF;
}

.buttonBot button {
  background-color: #D1D6E3;
  margin-left: 12px;
  border: none;
  padding: 8px;
  border-radius: 50px;
}

#customers {
  padding: 58px 276px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.costumersImg {
  width: 890px;
  display: flex;
  justify-content: space-between;
}


#plan_and_manage {
  background-color: #F5F8FF;
  /* height: 100%; */
}

.plan_n {
  /* max-width: 1344px; */
  padding: 170px 0;
  /* height: 100%; */
  /* background-color: rgba(172, 255, 47, 0.282); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan_n section {
  max-width: 413px;
}

.plan_n section p:first-child {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.plan_n section h1 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  padding: 27px 0;

}

.plan_n section p:last-of-type {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding-bottom: 47px;
}

.plan_n section .button_plan_n {
  display: flex;
}

.plan_n section button:first-of-type {
  display: flex;
  align-items: center;
  background-color: #4C85FF;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border-radius: 2px 0 0 2px;
  padding: 13px 25px;
  border: none;
}

.plan_n section button #text_button_plan {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 0;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: none;
}

.plan_n section button #play_button_plan {
  width: 6.5px;
  height: 7.2px;
  margin-left: 6px;
  margin-top: 2px;
}

.plan_n section button:last-child {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding: 0 21px;
  text-align: center;
  background-color: #F5F8FF;
  color: #ADB4D2;
  border: 1px solid #D1D1E4;
  border-radius: 0 2px 2px 0;
}

.plan_n img {
  width: 653px;
  height: 436px;
  display: block;
  /* max-width: 100%; */
}

#features {
  background-color: #fff;
}

